<div class="modal fade" id="update-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">

                    <form action="" method="POST" name="">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Type de match</label>
                                {{ match_form.classification }}
                            </div>
                            <div class="form-group col-md-6">

                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Coup d'envoi à</label>
                                {{ match_form.start_fixture }}
                            </div>
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Fin du match à</label>
                                {{ match_form.end_fixture }}

                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% for error in match_form.start_fixture.errors %}
                                <small class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </small> {% endfor %}

                            </div>
                            <div class="form-group col-md-6">

                                {% for error in match_form.end_fixture.errors %}
                                <small class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </small> {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Nombre de joueur</label>
                                {{ match_form.capacity }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Rue</label>
                                {{ address_form.street }}
                            </div>

                            <div class="form-group col-md-6">
                                <label class="small mb-1">Numéro</label>
                                {{ address_form.number }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% for error in address_form.street.errors %}
                                <small class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </small> {% endfor %}

                            </div>
                            <div class="form-group col-md-6">
                                {% for error in address_form.number.errors %}
                                <small class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </small> {% endfor %}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label class="small mb-1">Ville</label>
                                {{ address_form.city }}
                            </div>

                            <div class="form-group col-md-6">
                                <label class="small mb-1">Région</label>
                                {{ address_form.region }}
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                {% for error in address_form.city.errors %}
                                <small class="alert alert-danger">
                                    <strong>{{ error }}</strong>
                                </small> {% endfor %}
                            </div>
                            <div class="form-group col-md-6">

                            </div>

                        </div>

                        <input type="submit" name="action" value="Confirmer" class="btn btn-success btn-sm" />
                        <input type="hidden" name="match_id" value="{{ match.id }}">
                    </form>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>