env/
*.pyc
__pycache__/
.DS_Store
.vscode

instance/

.pytest_cache/
.coverage
htmlcov/
staticfiles/

dist/
build/
*.egg-info/

.env.dev
.env.testing
.env.prod.db

*/migrations/*.py
!*/migrations/__init__.py
celerybeat-schedule
