<div class="modal fade" id="invitation-player-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mes invitations en cours</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Joueur</th>
                                        <th scope="col">Date de la demande</th>
                                        <th scope="col">Match</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for invitation in invitations_current_player %}
                                    <tr>
                                        <td scope="row">{{invitation.by_player.user}}</td>
                                        <td scope="row">{{invitation.invitation_date}}</td>
                                        <td scope="row">
                                                <a href="{% url 'match-detail' invitation.for_match.id %}"
                                                class="btn btn-primary btn-sm">Consulter</a></td>
                                        <td>
                                            <div class="row">
                                                <div class="col">
                                                    <form action="{% url 'accept-match-invitation' invitation.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" name="action" value="Accepter"
                                                            class="btn btn-success btn-sm" />
                                                        <input type="hidden" name="match_id" value="{{ invitation.for_match.id }}">
                                                    </form>
                                                </div>
                                                <div class="col">
                                                    <form action="{% url 'decline-match-invitation' invitation.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <button class="btn btn-danger btn-sm" type="submit">Refuser</button>
                                                    </form>
                                                </div>
                                            </div>                                         
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>