{% extends "users/users_base.html" %}


{% load static %}

{% block body %}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                   
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Créer un profile</h1>
                            </div>

                            <form class="user" method="POST" action="{% url 'profile' %}">

                                {% csrf_token %}

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Prénom: {{ form.firstname }}
                                    </div>
                                    {% for error in form.username.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Nom: {{ form.name }}
                                    </div>
                                    {% for error in form.name.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Date de naissance : {{ form.birthdate }}
                                    </div>
                                    {% for error in form.birthdate.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Sexe : {{ form.sex }}
                                    </div>
                                    {% for error in form.sex.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Niveau : {{ form.level }}
                                    </div>
                                    {% for error in form.level.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Adresse : {{ form.address }}
                                    </div>
                                    {% for error in form.address.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        Position : {{ form.positions }}
                                    </div>
                                    {% for error in form.positions.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>
                             
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Enregistrer
                                </button>
                                
                            </form>                           
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

   

</body>

{% endblock %}