{% extends "core/base.html" %}

{% load static %}
{% block content %}

<div class="container-fluid">

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">

                        <a data-target="#pending-modal" data-toggle="modal"
                            class="text-xs font-weight-bold text-warning text-uppercase mb-1" id="MainNavHelp"
                            href="#pending-modal">Voir demande en attente</a>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ requests_count }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="pending-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Liste des demandes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Joueur</th>
                                            <th scope="col">Date de la demande</th>
                                            <th scope="col">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for request in requests %}
                                        <tr>
                                            <td scope="row">{{request.by_player.user}}</td>
                                            <td scope="row">{{request.request_date}}</td>
                                            <td>
                                                <form action="" method="POST" name="">
                                                    {% csrf_token %}
                                                    <input type="submit" name="action" value="Accepter"
                                                        class="btn btn-success btn-sm" />
                                                    <input type="hidden" name="request_id" value="{{ request.id }}">
                                                    <input type="hidden" name="match_id" value="{{ match.id }}">
                                                </form>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Annulation du match</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Etes-vous sûr de vouloir annuler le match?
                <form action="{% url 'cancel-match' pk=match.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm" type="submit">Oui</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

            </div>
        </div>
    </div>
</div>

<div class="card">

    <div class="card-header border-bottom">
        <div class="row">
            <div class="col">
                <a data-target="#invitation-modal" id="invitation_modal" data-toggle="modal" href="#invitation-modal"
                    class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-users"></i>
                    </span>
                    <span class="text">Inviter des joueurs</span>
                </a>
            </div>
            <div class="col">
                <a data-target="#email-modal" id="invitation_modal" data-toggle="modal" href="#email-modal"
                    class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="far fa-bell"></i>
                    </span>
                    <span class="text">Alerter des joueurs</span>
                </a>
            </div>
            <div class="col">
                <a data-target="#cancel-modal" id="invitation_modal" data-toggle="modal" href="#cancel-modal"
                    class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-window-close"></i>
                    </span>
                    <span class="text">Annuler le match</span>
                </a>
            </div>

            <div class="col">
                <a href="{% url 'match-update' match.id %}"
                    class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-pen-square"></i>
                    </span>
                    <span class="text">Modifier</span>
                </a>
            </div>
        </div>
    </div>

    {% include 'player/includes/_invitation_form.html' %}
    {% include 'match/includes/_email_alert_modal.html' %}

    <div class="card-body">
        <div class="tab-content" id="cardTabContent">
            <div class="row">
                <div class="col-xxl-6 col-xl-6">
                    <div class="container">
                        <h3>Joueurs inscrits</h3>
                        <ul class="list-group">
                            {% for player in players %}
                            <li class="list-group-item">{{ player.user.username }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="container-fluid">

    <div class="row">
        {% if user == match.administrator.user %}

        <!-- <div class="col">
            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="Modifier le match" class="btn btn-success"
                    id="save_substitute_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">

            </form>

        </div>

        <div class="col">
            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="Annuler le match" class="btn btn-danger"
                    id="save_substitute_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">

            </form>

        </div> -->


        {% else %}

        {% if match.classification == 'public' %}

        {% if  player_in_match %}
        <div class="col">
            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="Se désinscrire" class="btn btn-danger"
                    id="subscribe_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">

            </form>

        </div>
        {% else %}

        <div class="col">

            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="S'inscrire" class="btn btn-success"
                    id="subscribe_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">
            </form>

        </div>
        {% endif %}
        {% else %}
        {% if  player_in_match %}
        <div class="col">
            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="Se désinscrire" class="btn btn-danger"
                    id="subscribe_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">

            </form>

        </div>
        {% else %}

        <div class="col">

            <form action="" method="POST" name="">
                {% csrf_token %}
                <input type="submit" name="action" value="Demande d'inscription" class="btn btn-success"
                    id="subscribe_{{ match.id }}" />
                <input type="hidden" name="match_id" value="{{ match.id }}">

            </form>

        </div>
        {% endif %}
        {% endif %}
        {% endif %}

    </div>
</div>

<div class="container-fluid">
    {% include "match/includes/_match_map.html" %}
</div>


{% endblock %}

{% block javascript %}


<script>

    document.formHasErrors = {% if player_form.errors %} true {% else %} false {% endif %};
    $(document).ready(function () {
        if (document.formHasErrors) {
            console.log('true');
            $('#invitation-modal').modal('toggle');
        }
    });
</script>

{% endblock %}