{% extends "core/base.html" %}

{% load static %}
{% block content %}
<div class="card">
    <div class="card-header border-bottom">
        <!-- Wizard navigation-->
        <h3 class="text-primary">Modifier mon match</h3>
    </div>
    <div class="card-body">
        <div class="tab-content" id="cardTabContent">
            <!-- Wizard tab pane item 1-->
            <div class="tab-pane py-5 py-xl-10 fade show active" id="wizard1" role="tabpanel"
                aria-labelledby="wizard1-tab">
                <div class="row justify-content-center">
                    <div class="col-xxl-6 col-xl-8">

                        <h5 class="card-title">Entrer les informations du match</h5>
                        <form method="POST" action="{% url 'match-update' match.id %}">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Type de match</label>
                                    {{ match_form.classification }}
                                </div>
                                <div class="form-group col-md-6">
                                 
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Coup d'envoi à</label>
                                    {{ match_form.start_fixture }}
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Fin du match à</label>
                                    {{ match_form.end_fixture }}

                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {% for error in match_form.start_fixture.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}

                                </div>
                                <div class="form-group col-md-6">

                                    {% for error in match_form.end_fixture.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}

                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Nombre de joueur</label>
                                    {{ match_form.capacity }}
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Rue</label>
                                    {{ address_form.street }}
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Numéro</label>
                                    {{ address_form.number }}
                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">

                                    {% for error in address_form.street.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}

                                </div>
                                <div class="form-group col-md-6">

                                    {% for error in address_form.number.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}

                                </div>

                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Ville</label>
                                    {{ address_form.city }}
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="small mb-1">Région</label>
                                    {{ address_form.region }}
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    {% for error in address_form.city.errors %}
                                    <small class="alert alert-danger">
                                        <strong>{{ error }}</strong>
                                    </small> {% endfor %}
                                </div>
                                <div class="form-group col-md-6">
                                </div>
                            </div>

                            <hr class="my-4">
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-primary" type="submit">Modifier</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}