{% extends "core/base.html" %}

{% load static %}
{% block content %}

{% for match in match_list %}


<div class="card-deck">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <h5 class="card-title">Ce match aura lieu le: {{ match.start_fixture|date:'d-m-Y' }} à {{ match.start_fixture|time:'H:i' }}  </h5>
                    <p class="card-text">Créé par: {{ match.administrator.user }}</p>
                    <p class="card-text">Type: {{ match.classification }}</p>
                    <a href="{% url 'match-detail' match.id %}" class="btn btn-primary">Consulter le match</a>
                </div>
                <div class="col-md-3">
                    <p class="card-text">{{ match.available_place }} places disponibles</p>
                    <p class="card-text">{{ match.num_player}}/{{ match.capacity }}</p>
                    <p class="card-text">Où: {{ match.address.city }}</p>
                   
                </div>
            </div>
        </div>
    </div>

</div>
{% endfor %}

{% if page_obj.has_other_pages %}
<nav aria-label="...">
    <ul class="pagination justify-content-center flex-wrap">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link"
                href="{% url 'match-planned' %}?page={{page_obj.previous_page_number}}">Précédent</a>
        </li>
        {% else %}
        <li class="disabled"><span class="page-link">Précédent</span></li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}

        {% if page_obj.number == i %}
        <li class="page-item active"><span class="page-link">{{ i }} <span
                    class="sr-only">(current)</span></span></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="{% url 'match-planned' %}?page={{i}}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link"
                href="{% url 'match-planned' %}?page={{page_obj.next_page_number}}">Suivant</a>
        </li>
        {% else %}
        <li class="disabled"><span class="page-link">Suivant</span></li>
        {% endif %}
    </ul>
    {% endif %}
</nav>
{% endblock %}