{% extends "core/base.html" %}

{% load static %}

{% block content %}

<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                width="150">
              <div class="mt-3">
                <h4>{{ player.user.username }}</h4>
                <a href="#" id="follow" data-id="{{ player.id }}"
                  data-action="{% if player in user.player.player_subscriptions.all  %}un{% endif %}follow"
                  class="btn btn-primary">
                  {% if player not in user.player.player_subscriptions.all %}
                  Follow
                  {% else %}
                  Unfollow
                  {% endif %}
                </a>
                <br>
                <div class="container">
                  <div class="row">
                    {% if followers_count > 1 %}
                    <span class="count">
                      <span class="total-followers">{{ followers_count }} </span>abonnés
                    </span>
                    {% else %}

                    <span class="count">
                      <span class="total-followers">{{ followers_count }}</span> abonné

                      {% endif %}
                  </div>

                  <div class="row">
                    {% if followings_count > 1 %}
                    <span class="count">
                      <span class="total-followings">{{ followings_count }} </span> abonnements
                    </span>
                    {% else %}
                    <span class="count">
                      <span class="total-followings">{{ followings_count }} </span> abonnement
                    </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
  $('#follow').click(function (e) {


    e.preventDefault();
    $.ajax({

      url: '{% url "player-follow" %}',

      method: "POST",

      data: {

        csrfmiddlewaretoken: '{{ csrf_token }}',
        'player_id': $(this).data('id'),
        'action': $(this).data('action')

      },
      success: function (data) {
        if (data['status'] == 'ok') {
          var previous_action = $('#follow').data('action');
          // toggle data-action
          $('#follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('#follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow');

          var previous_followers = parseInt($('.total-followers').text());

          $('.total-followers').text(previous_action == 'follow' ?
            previous_followers + 1 : previous_followers - 1);
        }
      }

    }
    );
  });
</script>
{% endblock %}