{% extends "core/base.html" %}

{% load static %}

{% block content %}
{% include 'users/includes/_user_profile_modal.html' %}

<div class="container">
  <div class="main-body">

    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img src="{% static 'core/img/soccer.png' %}" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-4">
                <h4>{{ player.user.username }}</h4>
                {% if age != 0 %}
                <h5>{{ age }} ans</h5>
                {% endif %}

                {% if player.user != user %}
                <a href="#" id="follow" data-id="{{ player.id }}"
                  data-action="{% if player in user.player.player_subscriptions.all  %}un{% endif %}follow"
                  class="btn btn-primary">
                  {% if player not in user.player.player_subscriptions.all %}
                  Follow
                  {% else %}
                  Unfollow
                  {% endif %}
                </a>
                {% else %}
                <a href="#follow_modal" data-id="{{ player.id }}" class="btn btn-primary" data-toggle="modal">Abonnements</a>
                {% endif %}
                <br>
                <div class="container">
                  <div class="row">
                    {% if followers_count > 1 %}
                    <span class="count">
                      <span class="total-followers">{{ followers_count }} </span>abonnés
                    </span>
                    {% else %}

                    <span class="count">
                      <span class="total-followers">{{ followers_count }}</span> abonné

                      {% endif %}
                  </div>

                  <div class="row">
                    {% if followings_count > 1 %}
                    <span class="count">
                      <span class="total-followings">{{ followings_count }} </span> abonnements
                    </span>
                    {% else %}
                    <span class="count">
                      <span class="total-followings">{{ followings_count }} </span> abonnement
                    </span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Prénom</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {% if player.user.profile.firstname %}
                {{ player.user.profile.firstname }}
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Niveau</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {% if player.user.profile.get_level != 'None' %}
                {{  player.user.profile.get_level }}
                {% endif %}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Postes</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                <ul class="list-group">
                  {% for position in player.user.profile.positions.all %}
                  <li class="list-group-item">{{position}}</li>
                </ul>
                {% endfor %}

              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Ville</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{  player.user.profile.address.city }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block javascript %}
<script>
  
  $('#follow').click(function (e) {

    e.preventDefault();
    $.ajax({

      url: '{% url "player-follow" %}',
      method: "POST",
      cache: false,
      data: {

        csrfmiddlewaretoken: '{{ csrf_token }}',
        'player_id': $(this).data('id'),
        'action': $(this).data('action')

      },
      success: function (data) {
        if (data['status'] == 'ok') {
          var previous_action = $('#follow').data('action');
          // toggle data-action
          $('#follow').data('action',
            previous_action == 'follow' ? 'unfollow' : 'follow');
          // toggle link text
          $('#follow').text(
            previous_action == 'follow' ? 'Unfollow' : 'Follow');

          var previous_followers = parseInt($('.total-followers').text());

          $('.total-followers').text(previous_action == 'follow' ?
            previous_followers + 1 : previous_followers - 1);
        }
      }
    }
    );
  });

  $(document).on("click", "#unfollow", function (e) {

    e.preventDefault();
    $.ajax({

      url: '{% url "player-follow" %}',
      method: "POST",
      cache: false,
      data: {

        csrfmiddlewaretoken: '{{ csrf_token }}',
        'player_id': $(this).data('id'),
        'action': $(this).data('action')

      },
      success: function (data) {
        if (data['status'] == 'ok') {
          console.log('oik');
          var previous_action = $('#unfollow').data('action');
          var previous_followings = parseInt($('.total-followings').text());

          $("#row_" + $('#unfollow').data('id')).remove();

          $('.total-followings').text(previous_followings - 1);
        }
      }
    }
    );
  });


</script>
{% endblock %}