<div class="row">
    <div class="col-6 ">
        <h1>Rechercher des matchs</h1>
    </div>

    <div class="col-3">
        <div class="btn-group" id="map-list-button">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'search-map-match' %}"><i class="fas fa-map-marked-alt"></i> Carte</a>
            <a type="button" class="btn btn-secondary btn-sm" href="{% url 'search-table-match' %}"><i class="fas fa-list"></i> Liste</a>

        </div>
    </div>

    <div class="col-3">
        <div class="" id="activate-localization">
            <a type="button" class="btn btn-primary btn-sm" id="locate-user"><i class="fas fa-map-marker-alt"></i> Activer ma localisation</a>
        </div>
    </div>
</div>