<div class="row">
    <div class="col">
        <h1>Rechercher des matchs</h1>
    </div>

    <div class="col">
        <div class="btn-group" id="map-list-button">
            <a type="button" class="btn btn-primary btn-sm" href="{% url 'search-map-match' %}">Carte</a>
            <a type="button" class="btn btn-secondary btn-sm" href="{% url 'search-table-match' %}">Liste</a>

        </div>
    </div>

    <div class="col">
        <div class="" id="activate-localization">
           
        </div>
    </div>



</div>